#translate-button, #search-button {
	display: inline-block;
	margin: 12px 5px
}

#translate-button:hover svg, #search-button:hover svg {
	cursor: pointer;
	fill: #56b4d1;
}

#header_buttons_right path {
	transition: all ease-out 0.3s;
}
