#accuracy_container {
	bottom: 88px;
	z-index: 1;
}

#accuracy_container > div {
	padding: 4px 0 4px 12px;
	background: rgba(237, 240, 233, 0.75);
	border-radius: 25px;
	color: #707070;
	border: 1px solid #DDDDDD;
	text-align: center;
	font-size: large;
	display: inline-block;
	line-height: 30px;
}

#accuracy_container.highlight > div {
	padding-right: 12px;
	background-color: #FFFFFF;
}

#accuracy_indicator {
	padding-left: 15px;
	margin-right: 3px;
	border-radius: 50%;
}

#accuracy_meter {
	font-family: monospace;
}

#accuracy_meter_unit {
	padding-right: 4px;
}

.highlight #accuracy_meter {
	font-weight: bold;
}

#proceed_button {
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	color: #69B7CF;
	font-family: Roboto, Arial, sans-serif;
	font-size: 0.9375em;
	background-color: rgb(255, 255, 255);
	padding: 8px 12px;
	border: none;
	border-radius: 28px;	
}

#location_icon_dot.blinking {
	animation:blinking_blue 1.3s infinite;
}

#accuracy_indicator.blinking {
	animation:blinking_dot 1.3s infinite;
}

@keyframes blinking_blue {
	0%	{ fill: #FFFFFF; }
	50%	{ fill: #69B7CF; }
	100%{ fill: #FFFFFF; }
}

@keyframes blinking_dot {
	50%	{ background-color: #dddddd; }
}
