.choose_city_message {
	position: absolute;
	left: 0;
	right: 0;
	max-width: 360px;
	width: 360px;
	margin: auto;
	font-family: 'Abel';
	background-color: #FFFFFF;
	z-index: 1;
}

.choose_city_message_list, #choose_city_by_periphery_message_current_city {
	padding-left: 6px;
}

#choose_city_by_periphery_message_current_city div {
	background-color: #ffffff;
	color: #69B7CF;
	font-size: larger;
	border-radius: 5px;
	padding: 2px 0 2px 8px;
	border: 1px solid #eeeeee;
}

.choose_city_message_list div {
	background-color: #69B7CF;
	color: #ffffff;
	font-size: larger;
	border-radius: 5px;
	padding: 2px 0 2px 8px;
	border: 1px solid #69B7CF;
}

.choose_city_message_list div:hover, #choose_city_by_periphery_message_current_city div:hover {
	cursor: pointer;
}

.choose_city_message_list div:not(:last-child) {
	margin-bottom: 10px;
}
