#share_include_city, #share_jumto_map {
	-webkit-appearance: checkbox !important;
	margin-left: 6px;
}

#copy_wcode_message_city_name {
	text-align: center;
	color: #585858;
	padding-top: 8px;
	font-family: 'Roboto Condensed', Abel, sans-serif
}

#copy_wcode_message_city_name_question {
	color: #CCCCCC
}

#share_copy_button {
	padding-top: 4px
}

#share_link_button {
	padding-top: 8px
}

#share_qr_button {
	padding-right: 6px;
}

#qr_pre_title_main {
	margin-left: 8px;
	background-color: white;
	color: #999999;
	outline: 0;
	outline-style: none;
	border-top: 0;
	border-left: none;
	border-right: 0;
	min-width: 202px;
}
