#copy_wcode_message_city_name {
	display: block;
	text-align: center;
	color: #69B7CF;
	padding-top: 8px;
	font-weight: bold;
	font-family: 'Roboto Condensed', Abel, sans-serif
}

#copy_wcode_message_city_name_question {
	color: #CCCCCC
}
