#decode_interface_overlay {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	font-family: 'Abel';
	z-index: 0;
	display: none;
}

.decode #decode_interface_overlay {
	background-color: var(--app-background-current);
	display: block;
}

.decode #decode_input_container {
	margin: auto;
	text-align: center;
}

.decode #account {
	left: 12px;
}

#decode_input_container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	max-width: 468px;
	max-height: 166px;
}

.decode #decode_input, #decode_input_shadow {
	font-family: Roboto;
	font-size: 1.38em;
	font-weight: 300;
	border: none;
	line-height: 1.18;
	min-width: 262px;
	margin-left: 12px;
	margin-right: 12px;
	max-width: 92%;
	text-transform: lowercase;
}

.decode #decode_input {
	padding: 8px;
	display: inline-block;
	box-sizing: content-box;
	min-height: 26px;
	max-height: 112px;
	background-color: transparent;
	border-bottom: 1px solid #8e8e8e;
	overflow: hidden;
	resize: none;
	vertical-align: bottom;
}

#decode_input_shadow {
	visibility: hidden;
	position: absolute;
	bottom: 36px;
	max-width: 92%;
	overflow: hidden;
	white-space: pre;
}

#decode_input {
	display: none;
}

#decode_input_button {
	z-index: 1;
	display: inline-block;
	height: 26px;
	color: #69B7CF;
	font-family: Roboto, Arial, sans-serif;
	font-size: 0.9375em;
	border: none;
	vertical-align: middle;
	margin: -8px;
	padding: 8px;
	margin-left: -18px;
	vertical-align: bottom;
}

#decode_input_button > svg {
	margin-left: -10px;
}

.decode #decode_button, .decode #map_input_suggestion_result {
	display: none;
}

.decode #decode_map_view_button {
	display: block;
}

.decode #action_menu svg {
	box-shadow: rgb(0 0 0 / 6%) 0px 1px 4px -1px;
}

.decode #location_button svg {
	box-shadow: rgb(0 0 0 / 6%) 0px 1px 4px -1px;
}

.decode #logo_surface {
	border-radius: 6px;
}

#decode_input_button .proceed_button_shape {
	filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.30));
}

.decode #address_text {
	display: none;
}

.map_type_icon,
.view_toggle_icon {
	display: block;
	height: 39px;
	position: relative;
	width: 39px;
}

.map_type_icon > span,
.view_toggle_icon > span {
	display: none;
	inset: 0;
	position: absolute;
}

body:not(.satellite) .map_type_icon_terrain,
.satellite .map_type_icon_satellite,
body:not(.decode) .view_toggle_icon_code,
.decode .view_toggle_icon_map {
	display: block;
}

.decode #action_menu_map .map_type_icon_terrain {
	display: none;
}

.decode #action_menu_map .map_type_icon_satellite {
	display: block;
}

#decode_input_city {
	color: #7f7f7f;
}

#decode_map_view_button {
	background: transparent;
	border: none;
	bottom: 26px;
	cursor: pointer;
	display: none;
	margin: -8px;
	padding: 8px;
	position: absolute;
	right: 11px;
	z-index: 1;
}

#decode_map_view_button svg {
	background-color: rgb(255 255 255 / 50%);
	border-radius: 25px;
	box-shadow: rgb(0 0 0 / 6%) 0px 1px 4px -1px;
	box-sizing: border-box;
	display: block;
	height: 39px;
	padding: 5px;
	width: 39px;
}
