#decode_interface_overlay {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	font-family: 'Abel';
	z-index: 0;
	display: none;
}

.decode #decode_interface_overlay {
	background-color: #efefef;
	display: block;
}

.decode #decode_input_container {
	margin: auto;
	text-align: center;
}

.decode #map_type_button {
	color: rgba(0,0,0,.14);
} 

.decode #account {
	left: 12px;
}

#decode_input_container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	max-width: 468px;
	max-height: 166px;
}

.decode #decode_input, #decode_input_shadow {
	font-family: Roboto;
	font-size: 1.38em;
	font-weight: 300;
	border: none;
	min-width: 262px;
	margin-left: 12px;
	margin-right: 12px;
	max-width: 92%;
	text-transform: lowercase;
}

.decode #decode_input {
	padding: 8px;
	display: inline-block;
	height: 26px;
	background-color: transparent;
	text-overflow: ellipsis;
	border-bottom: 1px solid #8e8e8e;
}

#decode_input_shadow {
	visibility: hidden;
	position: absolute;
	bottom: 36px;
	max-width: 92%;
	overflow: hidden;
}

#decode_input {
	display: none;
}

#decode_input_button {
	z-index: 1;
	display: inline-block;
	height: 26px;
	color: #69B7CF;
	font-family: Roboto, Arial, sans-serif;
	font-size: 0.9375em;
	border: none;
	vertical-align: middle;
	margin-left: -10px;
}

.decode #wait_loader {
	display: none;
}

.decode #decode_button, .decode #map_input_suggestion_result {
	display: none;
}

.decode #info svg {
	box-shadow: rgb(0 0 0 / 6%) 0px 1px 4px -1px;
}

.decode #location_button {
	box-shadow: rgb(0 0 0 / 6%) 0px 1px 4px -1px;
}

.decode #map_type_button {
	box-shadow: rgb(0 0 0 / 6%) 0px 1px 4px -1px;
}

.decode #logo_wolo, .decode #logo_codes {
	border-radius: 6px;
	border-width: thin;
	border-color: #f0f7fa;
	border-style: solid;
}

.decode #map_type_button > span > svg > g:first-of-type > path:first-of-type {
	fill: #adadad;
}

.decode #map_type_button > span > svg > g:last-of-type {
	display: none
}

.map #map_type_button > span > svg > g:last-of-type {
	display: none
}

.satellite #map_type_button > span > svg > g:first-of-type {
	display: none
}
