#info_message {
	position: relative;
	font-family: Abel;
	margin: 0 auto;
	border: transparent solid 20px;
	padding: 2px 20px 8px;
	text-align: left;
	background-color: #FFFFFF;
	color: #999999;
	max-width: 400px;
}

#info_message h1 {
	text-align: center;
	color: #69B7CF;
}

#logo_info {
	text-align: center;
}

#info_message > p {
	padding-left: 40px;
}

#logo_info > a {
	display: inline-block;
	border-radius: 6px;
	border-width: thin;
	border-color: #f0f7fa;
	border-style: solid;
	padding: 3px;
}

#logo_wolo_info > .image > svg {
	height: 50px;
}

#logo_codes_info > .image > svg {
	padding-top: 4px;
	height: 14px;
	width: 152px;
}

#info_full > p:first-of-type {
	padding-left: 40px;
}

#wcode_format > span {
	background: #f7f7f7;
	border-radius: 6px;
	padding: 2px 6px;
}

#wcode_example {
	margin-top: 8px;
}

#wcode_example > span {
	padding: 2px 2px;
}

#wcode_example > span:first-child {
	margin-right: 4px;
	color: gray;
}

#wcode_example > span:nth-child(2), #wcode_example > span:last-child, #wcode_format > span:first-child, #wcode_format > span:last-child {
	background: none;
}

.download > a {
	display: block;
}

#software_info {
	padding: 6px 0 20px;
}

#version {
	font-size: smaller;
}

#updated {
	font-size: smaller;
}

#version > span, #updated > span {
	font-weight: bold;
}

#overlay .message_dialog_control {
	font-size: smaller;
}

#overlay table {
	margin-top: 18px;
	margin-bottom: 16px;
}

#overlay table td {
	padding-left: 10px;
}

#agency {
	text-align: right;
}

.button_highlight {
	color: white !important;
	background: #69B7CF !important;
	border-color: #69b7cf !important;
	box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 4px -1px !important;
}

.button_highlight .indicator {
	margin-left: -5px;
	margin-right: 4px;
}

#info_list {
	list-style-type: square;
	padding-left: 16px;
	color: #d0d0d0;
}

#download-unified-url {
	padding-bottom: 10px;
}

#info_full_close_button {
	margin-top: 14px;
}
