h2.message_dialog_label {
	margin: 0.5em;
}

#no_city_message {
	position: absolute;
	left: 0;
	right: 0;
	max-width: 360px;
	width: 360px;
	margin: auto;
	font-family: 'Abel';
	background-color: #FFFFFF;
	z-index: 1;
}

.loader {
	border: 15px solid #F0F0F0;
	border-top: 15px solid #69B7CF;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
