#overlay {
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 2;
	color: rgba(100, 100, 100, 1);
	background-color: rgba(100, 100, 100, 0.75);
	position: absolute;
	margin: auto;
	text-align: center;
}

#overlay_message {
	position: relative;
	font-family: Abel;
	margin: 0 auto;
	border: transparent solid 20px;
	padding: 2px 20px 8px;
	text-align: left;
	background-color: #FFFFFF;
	color: #999999;
	max-width: 400px;
}

#overlay_message h1 {
	text-align: center;
	color: #69B7CF;
}

#software_info {
	padding: 6px 0 20px;	
}

#version {
	font-size: smaller;
}

#updated {
	font-size: smaller;
}

#overlay .message_dialog_control {
	font-size: smaller;
	padding: 10px 0 18px;
}

#contact {
	padding-bottom: 16px;
}

#agency {
	text-align: right;
}

.button_highlight {
	color: white !important;
	background: #69B7CF !important;
	border-color: #69b7cf !important;
}
