#overlay_message {
	position: relative;
	font-family: Abel;
	margin: 0 auto;
	border: transparent solid 20px;
	padding: 2px 20px 8px;
	text-align: left;
	background-color: #FFFFFF;
	color: #999999;
	max-width: 400px;
}

#overlay_message h1 {
	text-align: center;
	color: #69B7CF;
}

#info_full > p:first-of-type {
	padding-left: 40px;
}

#software_info {
	padding: 6px 0 20px;
}

#version {
	font-size: smaller;
}

#updated {
	font-size: smaller;
}

#version > span, #updated > span {
	font-weight: bold;
}

#overlay .message_dialog_control {
	font-size: smaller;
	padding: 10px 0 18px;
}

#overlay table {
	margin-bottom: 16px;
}

#overlay table td {
	padding-left: 10px;
}

#agency {
	text-align: right;
}

.button_highlight {
	color: white !important;
	background: #69B7CF !important;
	border-color: #69b7cf !important;
	box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 4px -1px !important;
}

.button_highlight .indicator {
	margin-left: -5px;
	margin-right: 4px;
}
