@media print {
	
	html .print {
		background: none;
	}
	
	body.print > *:not(.section-to-print) {
		display: none;
	}
	
	.print .section-to-print, .print .section-to-print * {
		visibility: visible;
	}
	
	.print .section-to-print {
		position: absolute !important;
		left: 0;
		top: 0;
	}
	
	.print .section-to-not-print {
		display: none;
	}
	
}
