@media (max-width: 662px) {

	#decode_button {
		top: 100px !important;
		left: auto !important;
		right: 10px !important;
	}

	.suggestion_result {
		top: 74px !important;
	}

}

@media (max-width: 390px) {
	#decode_button {
		left: auto !important;
		right: 10px !important;
	}
}

@media (max-width: 316px) {

	#decode_button {
		top: 126px !important;
	}

	.suggestion_result {
		top: 100px !important;
	}

}
