@media (max-width: 662px) {

	#search_icon {
		left: 12px;
		top: 110px;
	}
	
	#decode_button {
		top: 100px !important;
		left: auto !important;
		right: 10px !important;
	}

	#map_input_suggestion_result {
		top: 74px !important;
	}
	
}

@media (max-width: 390px) {
	
	#decode_button {
		left: auto !important;
		right: 10px !important;
	}
	
	#map_input_suggestion_result {
		top: 100px !important;
	}
	
}

@media (max-width: 316px) {
	
	#search_icon {
		left: 12px;
		top: 136px;
	}
	
	#decode_button {
		top: 126px !important;
	}

}
