#address_text {
	position: absolute;
	text-align: center;
	bottom: 80px;
	background-color: #FFFFFF;
	padding: 4px 8px;
	border: 1px solid #ddd;
	border-radius: 18px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 350px;
}

#address_text_main {
	display: inline-block;
	float: left;
	min-width: 89%;
}

#address_text_label {
	font-family: 'Abel';
	font-size: large;
	padding-top: 4px;
	color: #69B7CF;
}

#address_text_header {
	text-align: left;
	font-family: 'Roboto';
	padding-left: 5px;
}

#address_text_content {
	display: block;
	font-family: 'Roboto';
	min-height: 48px;
	max-width: 306px;
	text-align: left;
	padding: 6px 0 6px 6px;
	color: #888888;
}

#address_text_close {
	position: absolute;
	top: 2px;
	right: 6px;
}

#address_text_close svg {
	width: 30px;
}

#address_text_buttons {
	display: inline-block;
	width: 30px;
}

.address_text_button_spacer {
	display: inline-block;
	width: 18px;
}

#address_text_copy {
	padding-top: 2px;
	padding-left: 10px;
	margin-left: auto;
	margin-right: auto;
}
