@media (max-width: 662px) {
	
		#pac-input {
			box-sizing: border-box;
			top: 100px !important;
			left: 8px !important;
			height: 42px !important;
			margin-left: 0;
			width: calc(100vw - 66px) !important
		}

		#decode_button {
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 100px !important;
			left: auto !important;
			right: 8px !important;
			width: 48px !important;
			height: 42px !important;
			padding: 8px;
		}

		#search_icon {
			top: 110px !important;
			left: 20px !important;
		}
	
		#logo {
			width: auto !important;
			left: 50%;
			right: auto;
			text-align: left;
			transform: translateX(-50%);
		}

		#logo_surface {
			align-items: flex-end;
			flex-direction: row;
			vertical-align: top;
		}

		#logo_codes {
			padding-bottom: 4px;
		}
		
		#notification_top {
			top: 168px !important;
		}

		#footer-content-container {
			bottom: 8px;
			font-size: 0.7em
		}
		
		#account {
			right: 10px !important;
			left: unset !important;
		}
		
}

@media (max-width: 316px) {
	#pac-input {
		top: 126px !important;
	}

	#decode_button {
		top: 126px !important;
	}

	#search_icon {
		top: 136px !important;
	}
	
	#account {
		top: 180px !important;
	}
}

@media (max-width: 480px) {
	
	#authentication_header {
		max-width: none !important;
	}
	
}
