html {
	background: rgb(170, 218, 255);
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', Abel, sans-serif;
}

input {
	border-radius:0;
	-webkit-appearance: none;
}

button {
	-webkit-appearance: none;
	background: white;
	border-radius: 5px
}

button.border {
	border: 1px solid;
	border-color: #dcdcdc
}

#map {
	height: 100%;
}

#description {
	font-family: Roboto;
	font-size: 0.9375em;
	font-weight: 300;
}

.pac-card {
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
}

#pac-container {
	padding-bottom: 12px;
	margin-right: 12px;
}

.pac-controls {
	display: inline-block;
	padding: 5px 11px;
}

.pac-controls label {
	font-family: Roboto;
	font-size: 0.8125em;
	font-weight: 300;
}

#logo {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 160px;
}

#logo a {
	display: inline-block;
	border-radius: 6px;
	border-width: thin;
	border-color: #fbfbfb28;
	border-style: solid;
	padding: 2px;
}

#logo_wcode > .image > svg {
	height: 50px;
}

#logo_location {
	text-decoration: none;
}

#logo_location > .image > svg {
	padding-top: 4px;
	height: 14px;
	width: 152px;
}

#pac-input {
	position: absolute;
	left: 0px !important;
	top: 36px !important;
	height: 26px;
	background-color: #fff;
	font-family: Roboto;
	font-size: 1.38em;
	font-weight: 300;
	margin-left: 12px;
	padding: 8px;
	border: none;
	text-overflow: ellipsis;
	width: 400px;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

#title {
	color: #fff;
	background-color: #4d90fe;
	font-size: 1.5625em;
	font-weight: 500;
	padding: 6px 12px;
}

#target {
	width: 345px;
}

.link {
	color: #69B7CF;
	text-decoration: none;
}

.link-gray {
	text-decoration: none;
	color: #bbb!important;
	transition: all ease-out .3s;
}

.hide {
	display: none;
}

.invisible {
	visibility: hidden;
}

.control:hover {
	cursor: pointer;
}

.slash {
	color: #DDDDDD;
	font-size: large;
}

.notification_bar {
	z-index: 100;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 4px 8px;
	background-color: #ebf2fe;
	color: #69B7CF;
	text-align: center;
	border-radius: 18px;
	border-color: #c6c6c6;
	border-style: solid;
	border-width: 1px;
}

#notification_top {
	top: 118px;
	width: 182px;
	cursor: pointer
}

#notification_bottom {
	bottom: 232px;
	width: 350px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center-container-abs {
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
}

.blue {
	color: #69B7CF;
}

#footer-content-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 4px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 0.9em;
}

#footer-content {
	display: inline-block;
	padding: 0 4px;
	border-radius: 5px;
}

.blur_background {
	backdrop-filter: blur(8px);
	background-color: #fbfbfb60
}

.satellite .blur_background {
	background-color: #1b69824d !important;
}

.plain_background {
	background: rgba(241, 241, 241, 0.75)
}
