#infowindow-content .title {
	font-weight: bold;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}

.infowindow-content {
	color: #666666;
}

#infowindow_code {
	text-align: left;
}

#infowindow_code_left {
	padding-top: 4px;
}

#infowindow_code_right {
	padding-top: 10px;
	padding-bottom: 10px;
}

#infowindow_code_right_code {
	font-size: x-large;
	padding-left: 10px;
}

.gm-style-iw + div {display: none;}

.gm-style-iw {
	left: 12px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#show_address_button {
	width: 26px;
	vertical-align: bottom;
}

#copy_code_button {
	width: 24px;
	vertical-align: bottom;
}

#copy_link_button {
  width: 38px;
	vertical-align: bottom;
}

#external_map_button {
	width: 28px;
	vertical-align: bottom;
}

#infowindow_actions > * {
	margin: 0 20px;
}

#infowindow_actions > :first-child {
	margin-left: 0;
}

#infowindow_actions > :last-child {
	margin-right: 0;
}
