#infowindow-content .title {
	font-weight: bold;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}

.infowindow-content {
	color: #666666;
}

#infowindow_code {
	text-align: left;
}

#infowindow_code_left {
	padding-top: 4px;
}

#infowindow_code_right {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 14px;
}

#infowindow_code_right_code {
	font-size: x-large;
}

.gm-style-iw {
	left: 12px;
	margin-left: auto;
	margin-right: auto;
	text-align: center
}

.gm-style-iw-d {
	overflow: hidden
}

button.gm-ui-hover-effect {
	display: none !important;
}

#show_address_button {
	width: 26px;
	vertical-align: bottom
}

.shield {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

#share_qr_button {
	position: relative;
	width: 24px;
	display: inline-block;
	vertical-align: bottom
}

#copy_link_button {
	display: block;
	width: 100px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px -1px;
	border-radius: 5px
}

#external_launch_button {
	width: 26px;
	vertical-align: bottom;
}

#infowindow_actions {
	padding-left: 4px;
}

#infowindow_actions > * {
	margin: 0 20px;
}

#infowindow_actions > :first-child {
	margin-left: 0;
}

#infowindow_actions > :last-child {
	margin-right: 0;
	padding-left: 2px;
}

.different_city #infowindow_code_left_code > span {
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(255,64,129);
}

.city_tally_false #infowindow_code_left_code > span {
	text-decoration: line-through;
}
