.message_dialog {
	position: relative;
	max-width: 286px;
	min-width: 286px;
	margin: auto;
	border: 1px solid #ddd;
	font-family: 'Abel';
	background-color: #FFFFFF;
	z-index: 2;
}

.message_dialog_prompt {
	padding: 2px 16px 8px;
}

.message_dialog_close {
	position: absolute;
	top: 8px;
	right: 10px;
}

.message_dialog_label {
	color: #c2c2c2;
	text-align: center;
	font-family: 'Roboto Condensed', Abel, sans-serif;
}

.message_dialog_body {
	padding: 0 20px 20px;
	color: #999999;
	overflow: hidden;
}

.message_dialog_body p {
	font-size: larger;
}

.message_dialog_body > .secondary > span:first-child {
	padding-left: 10px;
}

.message_dialog_control_container {
	overflow: hidden;
}

.message_dialog_control {
	margin-left: auto;
	margin-right: auto;
	min-height: 34px;
	float: right;
	position: relative;
	left: -50%;
	text-align: left;
}

.message_dialog_control button {
	min-width: 100px;
	font-size: larger;
	margin: 2px 8px 10px;
	padding: 8px 14px;
	color: #69B7CF;
	position: relative;
	left: 50%;
	box-shadow: rgba(0, 0, 0, 0.285) 0px 1px 4px -1px;
	font-family: 'Roboto Condensed', Abel, sans-serif;
}

.message_dialog_separator {
	clear: both;
	height: 1px;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 88px;
	margin-bottom: 20px;
	border-top: 1px solid #E0E0E0;
}

.message_dialog_control_right {
	float: right
}

h2.message_dialog_label {
	margin: 0.5em;
}

.message_dialog_body > p > span:first-child {
	display: block;
	color: #B5B5B5
}

.button_active {
	color: white !important;
	background: #69B7CF !important;
	border-color: #69b7cf !important;
}

.message_dialog_subtitle {
	overflow: hidden;
}

.message_dialog_subtitle_icon {
	float: left;
}

.message_dialog_subtitle_label {
	float: left;
	padding: 3px 0 0 6px;
}

.message_dialog_subtitle_text {
	padding: 10px 0 10px 14px;
}
