@media (max-width: 512px) {

	.dialog_message_primary {
		float: right;
	}
	
	.dialog_message_secondary {
		float: left;
	}

	.message_dialog_close {
		position: absolute;
		top: 0px;
		right: 0px;
	}
	
}
