.message_dialog {
	position: absolute;
	top: 230px;
	left: 0;
	right: 0;
	max-width: 286px;
	width: 286px;
	margin: auto;
	border: 1px solid #ddd;
	font-family: 'Abel';
	background-color: #FFFFFF;
	z-index: 1;
}

.message_dialog_prompt {
	padding: 2px 16px 8px;
}

.message_dialog_close {
	position: absolute;
	top: 8px;
	right: 10px;
}

.message_dialog_label {
	color: #69B7CF;
	text-align: center;
}

.message_dialog_body {
	padding: 0 20px 20px;
}

.message_dialog_body p {
	font-size: larger;
}

.message_dialog_body > .secondary > span:first-child {
	padding-left: 10px;
}

.message_dialog_control_container {
	overflow: hidden;
}

.message_dialog_control {
	margin-left: auto;
	margin-right: auto;
	min-height: 34px;
	float: right;
	position: relative;
	left: -50%;
	text-align: left;
}

.message_dialog_control button {
	min-width: 100px;
	font-size: larger;
	margin: 2px 8px 10px;
	padding: 8px 14px;
	color: #69B7CF;
	position: relative;
	left: 50%;
}

.message_dialog_separator {
	clear: both;
	height: 1px;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 88px;
	margin-bottom: 20px;
	border-top: 1px solid #CCCCCC;
}

h2.message_dialog_label {
	margin: 0.5em;
}
