#no_city {
	top: 200px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	max-width: 200px;
	position: absolute;
	font-family: 'Abel';
	width: 200px;
	background-color: #FFFFFF;
	z-index: 1;
	padding: 20px;
}

#no_city .label {
	color: #69B7CF;
}
