h2.message_dialog_label {
	margin: 0.5em;
}

#no_city_message {
	top: 200px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	max-width: 360px;
	position: absolute;
	font-family: 'Abel';
	width: 360px;
	background-color: #FFFFFF;
	z-index: 1;
	padding: 20px;
}

#no_city_message p {
	font-size: larger;
}
