@media (max-width: 662px) {
	
	#overlay {
		background-color: white;
		box-sizing: border-box;
		padding: 20px 0;
	}

	#overlay > div {
		margin-top: auto !important;
		margin-bottom: auto !important;
	}
	
	#overlay > div > div {
		max-width: none;
		padding: 16px 10px;
	}
	
	#overlay > div > div > div > ol, #overlay > div > div > div > ul {
		padding-inline-start: 22px;
		padding-inline-end: 20px;
	}
	
}
