.overlay {
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 101;
	overflow-y: auto;
	color: rgba(100, 100, 100, 1);
	background-color: rgba(100, 100, 100, 0.75);
	position: absolute;
	margin: auto;
}

#logo_info {
	text-align: center;
}

#logo_info > a {
	display: inline-block;
	border-radius: 6px;
	border-width: thin;
	border-color: #f0f7fa;
	border-style: solid;
	padding: 3px;
}

#logo_wolo_info > .image > svg {
	height: 50px;
}

#logo_codes_info > .image > svg {
	padding-top: 4px;
	height: 14px;
	width: 152px;
}

.overlay h2 {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 12px;
}

.overlay h3 {
	text-align: center;
	margin-top: 12px;
	color: #bbb;
}

#wcode_format > span {
	background: #f7f7f7;
	border-radius: 6px;
	padding: 2px 6px;
}

#wcode_format > span:first-child {
	margin-right: 4px;
}
