.overlay {
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 2;
	overflow-y: auto;
	color: rgba(100, 100, 100, 1);
	background-color: rgba(100, 100, 100, 0.75);
	position: absolute;
	margin: auto;
	text-align: center;
}
