.overlay {
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 101;
	overflow-y: auto;
	color: rgba(100, 100, 100, 1);
	background-color: rgba(100, 100, 100, 0.75);
	position: absolute;
	margin: auto;
	display: flex;
	align-items: center;
}

.overlay > div {
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.overlay > div {
	margin-top: 80px !important;
}

.overlay h2 {
	text-align: center;
	margin-top: 16px;
	margin-bottom: 18px;
}

.overlay h3 {
	text-align: center;
	margin-top: 12px;
	color: #bbb;
}

.overlay li, ul {
	margin-bottom: 8px;
}
