#social-links {
	padding-bottom: 4px
}

.social {
	display: inline-block;
	margin: 18px 20px
}

.social .image {
	background-size: contain;
	width: 34px;
	height: 34px;
	display: block;
	background-repeat: no-repeat;
}

.social .image path {
	transition: all ease-out 0.3s
}

#site-twitter:hover path, #site-facebook:hover path, #site-gplus:hover .image>svg>path, #site-youtube:hover svg>path {
	fill: #56b4d1
}
