h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', Abel, sans-serif;
}

h1, h3 {
	color: #69b7cf !important;
}

h2 {
	color: #AAAAAA !important;
}

.h_faded_bar h2 {
	padding: 5px 0 7px 11px;
	background: linear-gradient(to right,#f2f2f2 20%,white);	
}

h2 > .key {
	font-size: 1.12em;
	color: #69b7cf !important;
}

h2 > .minor {
	font-size: 0.82em;
}

h4 {
	color: #777 !important;
}

h1 {
	margin: 6px 0 12px;
}

img {
	max-width: 100%;
}

#message.alt_div_shade {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.alt_div_shade > div, .odd_shade, .even_shade {
	padding-left: 6px;
}

.odd_shade, .alt_div_shade > div:nth-child(odd) {
	padding-top: 0px;
	padding-bottom: 28px;
}

.even_shade, .alt_div_shade > div:nth-child(even) {
	padding-top: 20px;
	padding-bottom: 28px;
	background: linear-gradient(to right, #f2f2f2 20%, white);
	border-radius: 8px
}

.alt_div_shade > div > h2, .odd_shade > h2, .even_shade > h2 {
	padding-left: 16px;
}

.message_left_div {
	display: inline-block;
	width: 80%;
	float: left;
	margin-left: 0%
}

.message_right_div {
	width: 80%;
	display: inline-block;
	float: right;
	margin-right: 0%
}

.message_center_div {
	width: 80%
	display: inline-block;
	margin-left: 10%;
	margin-right: 10%;
}

#message > *, #nav-menu_container, #fb_components {
	margin-left: 10%;
	width: 80%
}

.google-auto-placed {
	margin: 0 !important;
	width: 100% !important
}
