.pml-open #path, .hide_path_title_updated #path, .pml-open #title, .hide_path_title_updated #title, .pml-open #updated, .hide_path_title_updated #updated, .hide {
	opacity: 0;
}

.hide {
	transition: opacity 0.3s;
}

#footer-wrapper {
	transition: opacity 0.3s, transform 0.3s;
}

#footer-wrapper.hide {
	opacity: 0;
	transform: translateY(2.5rem);
}

.pml-open #canvas-main.hide {
	transition: 0s !important;
}

.hide_scale#title-container, .hide_scale#path-container {
  transform: scaleY(0);
	transition: all 0.3s;
	max-height: 0px !important;
}
