#updated-container {
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: right
}

#updated {
	display: inline-block;
	font-size: 0.75em;
	color: #bbbbbb!important;
	will-change: opacity
}

#date {
	color: #bbbbbb!important
}
