<?php require_once __DIR__ . '/Mail_link.php'; ?>
<div id='exception_message' class="message_dialog hide">
	<h2 id='exception_message_title' class='message_dialog_label'>
		<span class='image exception_warning_icon'><?php includeSVG('', 'Warning'); ?></span>
		Oops an error occured!
	</h2>
	<div class='message_dialog_body'>
		<p class='center'>you may try</p>
		<div id='exception_prompt_controls' class="center message_dialog_control">
			<button id='exception_message_reload' class="border dialog_message_primary" type='button'>Clear cache &amp; reload</button>
			<p class='exception_support_copy hide'>You may contact our support team. <?php echo renderMailLink('support', 'wolo.codes', array('id' => 'exception_message_support', 'class' => 'link exception_support_link', 'subject' => 'Wolo web app crash')); ?></p>
		</div>
		<pre id='exception_log' class='exception_log hide'></pre>
		<div id='exception_dev_controls' class="center message_dialog_control hide">
			<button id='exception_message_continue' class="border dialog_message_secondary" type='button'>Continue</button>
		</div>
	</div>
</div>
