<div id='exception_message' class="message_dialog hide">
	<h2 id='exception_message_title' class='message_dialog_label'>
		<span class='image exception_warning_icon'><?php includeSVG('', 'Warning'); ?></span>
		Error occured!
	</h2>
	<div class='message_dialog_body'>
		<div id='exception_prompt_controls' class="center message_dialog_control">
			<button id='exception_message_reload' class="border dialog_message_primary" type='button'>Clear cache &amp; reload</button>
			<a id='exception_message_support' class='link exception_support_link' href="mailto:ujjwal@wolo.codes?subject=Wolo crash">ujjwal@wolo.codes</a>
		</div>
		<pre id='exception_log' class='exception_log hide'></pre>
		<div id='exception_dev_controls' class="center message_dialog_control hide">
			<button id='exception_message_continue' class="border dialog_message_secondary" type='button'>Continue</button>
		</div>
	</div>
</div>
