.indent-a {
	padding-left: 10px;
}

.indent-b {
	padding-left: 16px;
}

.indent-c {
	padding-left: 20px;
}

.indent-d {
	padding-left: 32px;
}

.indent-e {
	padding-left: 40px;
}

.indent-f {
	padding-left: 60px;
}
