#container {
	height: 100%;
}

#restrict_block {
	height: 100%;
}

#restrict_block h3 {
	padding-left: 20px;
}

#console_block {
	height: 100%;
}

#map_canvas {
	height: 100%;
}

#console-title-container {
	top: 4px;
	z-index: 1;
}

#console_title {
	font-family: Abel;
	font-size: x-large;
	color: #69B7CF;
	background: rgba(237, 240, 233, 0.75);
	padding: 0px 6px;
	border-radius: 6px;
}

#data_count {
	background: rgba(237, 240, 233, 0.75);
	border-radius: 25px;
	color: #AAAAAA;
	border: 1px solid #DDDDDD;
	text-align: center;
	font-size: xx-large;
	display: inline-block;
	width: 20px;
	line-height: 20px;
}

#request-controls-container {
	top: 80px;
	z-index: 1;
}

#location_request_list {
	font-family: Abel;
	top: 40px;
	border: 1px solid #69B7CF;
	border-radius: 25px;
	display: inline-block;
	background: rgba(237, 240, 233, 0.75);
}

#data_time {
	font-family: consolas;
	color: #AAAAAA;
}

#data_process_checkbox {
	width: 18px;
	height: 18px;
	-webkit-appearance: checkbox !important;
}

.data_control{
	color: #69B7CF;
}

.data_control:hover {
	cursor: pointer;
}

#location_request_list span {
	padding: 10px;
}

#view_data_index {
	font-weight: bolder;
}

#city_submit_panel {
	position: absolute;
	bottom: 60px;
	z-index: 1;
	left: 10px;
}

#submit_city_button {
	z-index: 1;
	height: 42px;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	color: #69B7CF;
	font-family: Roboto, Arial, sans-serif;
	font-size: 0.9375em;
	background-color: rgb(255, 255, 255);
	padding: 8px 14px;
	border: none;
	border-radius: 2px;
}

#city_submit_panel input {
	height: 36px;
}

.city_form_field {
	padding-left: 6px;
	background: #aadddd80;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}

input:invalid {
	border-bottom: 2px solid #69B7CF;
}

input:valid {
	border-bottom: 2px solid #B7B7B7;
}

#file_container {
	position: absolute;
	left: 10px;
	bottom: 10px;
}

#file_upload {
	z-index: 1;
  height: 36px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  color: #69B7CF;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.9375em;
  background-color: rgb(255, 255, 255);
  padding: 8px 14px;
  border: none;
  border-radius: 2px;
}
