.address {
	width: 200px;
}

.gp_id {
	width: 200px;
}

.lat {
	width: 100px;
}

.lng {
	width: 100px;
}

.time {
	width: 100px;
}

.process {
	width: 100px;
}

.data_control:hover {
	cursor: pointer;
	color: #69B7CF;
}

#console_title {
	font-family: Abel;
	color: #69B7CF;
	font-size: x-large;
}

#city_submit_panel {
	position: absolute;
	bottom: 20px;
	z-index: 1;
	left: 10px;
}

#submit_city_button {
	z-index: 1;
	height: 42px;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	color: #69B7CF;
	font-family: Roboto, Arial, sans-serif;
	font-size: 15px;
	background-color: rgb(255, 255, 255);
	padding: 8px 10px;
	border: none;
	border-radius: 2px;
}

#container {
	height: 100%;
}

#restrict_block {
	height: 100%;
}

#restrict_block h3 {
	padding-left: 20px;
}

#console_block {
	height: 100%;
}

#map_canvas {
	height: 80%;
}

#city_submit_panel input {
	border-top: none;
	border-left: none;
	border-right: none;
}

input:invalid {
	border: 2px solid red;
}

input:valid {
	border: 2px solid #69B7CF;
}

#location_request_list th {
	font-family: Abel;
}

#location_request_list th {
	color: #69B7CF;
}

#data_process_checkbox {
	width: 24px;
	height: 24px;
	-webkit-appearance: checkbox !important;
}
