.item_block_container {
	width: 160px;
	display: inline-block;
	margin: 5px;
	vertical-align: middle;
	transition: 0.75s;
	font-family: 'Roboto condensed', Abel, sans-serif;
}

.item_block_image {
	width: 160px;
	height: 110px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.item_block_image_visible {
	object-fit: cover;
	opacity: 0.85 !important;
	filter: alpha(opacity=85);
	transition: opacity 2s !important;
}

.item_block_image_hidden {
	object-fit: fill;
	opacity: 50 !important;
	filter: alpha(opacity=50);
	transition: opacity 0.8s !important;
}

.item_block_container:hover .item_block_image {
	cursor: pointer;
	opacity: 1 !important;
	filter: alpha(opacity=100);
}

.item_block_text {
	width: 158px;
	height: 32px;
	margin-top: -5px;
	margin-bottom: -3px;
	overflow: hidden;

	border-style: solid;
	border-width: 1px;
	border-top-color: white;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;

	color: #69b7cf;
	background-color: #f6f6f6;
	border-color: #f4f4f4;

	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	text-align: left;
	line-height: 32px;
	transition: all ease-out 0.3s;
}

.item_block_text .external {
	float: right;
	padding-top: 5px;
	padding-right: 7px;
	margin: 0;
}

.item_block_container:hover .item_block_text {
	cursor: pointer;
	border-color: #69b7cf;
	background-color: #69b7cf;
}

.item_block_container:hover .item_block_text div {
	color: white;
}

.item_block {
	width: 158px;
	height: 64px;
	margin: 5px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;

	background: #f6f6f6;
	border-color: #f4f4f4;
	color: #69b7cf;

	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	text-align: left;
	line-height: 64px;
	transition:
		transform 0.75s,
		border-color 0.3s ease-out,
		background-color 0.3s ease-out,
		color 0.3s ease-out;
}

.item_block div, .item_block_text div {
	margin-left: 28px;
	font-size: 1em;
	vertical-align: middle;
	cursor: pointer;
	color: #69b7cf;
	transition: all ease-out 0.3s;
}

.item_block:hover {
	cursor: pointer;
	border-color: #69b7cf;
	background-color: #69b7cf;
	color: white;
}

.item_block:hover div {
	color: white;
}

.item_block-disabled {
	visibility: hidden;
	vertical-align: middle;
	width: 156px;
	height: 143px;
	margin: 5px 12px;
	line-height: 64px;
	display: inline-block;
	border: none;
	border-style: solid;
	border-color: #efefef;
	background-color: #fff !important;
}

.item_block-placeholder {
	width: 174px;
	display: inline-block;
	height: 0 !important;
	margin: 0 5px !important;
	visibility: hidden;
}

.page-list > .item_block_container {
	margin-left: 12px;
	margin-right: 12px;
}

.page-list > .item_block_container:hover, .page-list > .item_block:hover {
	transform: scale(1.05);
}

.sidebar-nav-group.page-list {
	margin-left: 0px;
}

.sidebar-nav-group.page-list > .item_block_container, .sidebar-nav-group.page-list > .item_block {
	margin: 8px 10px !important;
}
